.main {
    margin: 5em 3em;
    position: absolute;
}
.link {
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: inherit;
}

.body {
    text-align: center;
    font-size: 200px;
    margin: 0.25em 0;
    flex-direction: row;
    align-items: center;
}